<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>Grid</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-card>
    <ion-card-content>
      <ion-img src="/assets/autismo.jpg"></ion-img>
      <ion-card-title>Abril</ion-card-title>
        <p>Mês de conscientização sobre o autismo</p>
    </ion-card-content>
  </ion-card>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="um">1</ion-col>
      <ion-col class="dois">2</ion-col>
      <ion-col class="tres">3</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="quatro">1</ion-col>
      <ion-col class="cinco">2</ion-col>
      <ion-col class="seis">3</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="sete">1</ion-col>
      <ion-col class="oito">2</ion-col>
      <ion-col class="nove">3</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="dez">1</ion-col>
      <ion-col class="onze">2</ion-col>
      <ion-col class="doze">3</ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid [fixed]="true">
    <ion-row>
      <ion-col class="treze">1</ion-col>
      <ion-col class="quatorze">2</ion-col>
      <ion-col class="quinze">3</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
