 .um{
    background-color: #222428;
  }

  .dois{
    background-color: #5260ff;
  }

  .tres{
    background-color: #ffc409;
  }

  .quatro{
    background-color: #eb445a;
  }

  .cinco{
    background-color: #222428;
  }

  .seis{
    background-color: #5260ff;
  }

  .sete{
    background-color:#92949c;
  }

  .oito{
    background-color: #eb445a;
  }

  .nove{
    background-color: #222428;
  }

  .dez{
    background-color: #ffc409;
  }

  .onze{
    background-color: #92949c;
  }

  .doze{
    background-color: #eb445a;
  }

  .treze{
    background-color: #5260ff;
  }

  .quatorze{
    background-color: #ffc409;
  }

  .quinze{
    background-color: #92949c;
  }
